.section {
  width: 100vw;
  color: grey;
  border-bottom: 1px solid whitesmoke;
  display: flex;
}
.section__Icon {
  display: flex;
  flex: 0.5;
  margin: 10px;
  cursor: pointer;
}
.section__Icon > p {
  padding-left: 10px;
}

.section:hover {
  background-color:lightgray;
  border-radius: 5px;
}
