.EmailListRow{
  cursor: pointer;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  z-index: 999;
}
.EmailListRow-Option{
  display: flex;
  align-items: center;
  height: 40px;
  color: grey;
}
/*  */
.EmailListRow {
  display: flex;
  border: 2px solid yellow;
}
.EmailListRowList-Body{
  display: flex;
  align-items: center;
}
.EmailListRowListBody-Info{
  display: flex;
  align-items: center;
}